label {
    display: block
}

input,output {
    display: inline-block;
    vertical-align: middle;
}


body {
  font:
    1.2em Helvetica,
    Arial,
    sans-serif;
  margin: 0;
  background-color: #36A824;

    background-image: url('bud.svg');
    /*background-attachment: fixed;*/

background-origin: border-box;
    background-position: top 50px left 400px;
    background-size: 50%;
        background-repeat: no-repeat;


}

.content {
  background-color: #E4F7E1dd;
  border-radius: 5px;
  border: 1px solid #B7BDB6;
  padding: 1rem;
  margin: 3rem;

/*
  background-image: url('bud.svg');
  background-position: bottom right;
  background-size: 10%;
  background-repeat: no-repeat;
*/

}

.container {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.container div {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-column-gap: 10px;
  margin: 10px 0;
}

div > label {
    flex: 5;
    min-width: 10rem;
}

div > input {
    flex: 5 auto;
    min-width: 15rem;
}

div > output {
    flex: 1
}



h1 {
  font-weight: bold;
  font-size: larger;
  margin-top: 0;
}

h1 > p {
  font-weight: normal;
  font-size:small;
  margin-top: 0;
}


@media screen and (max-width: 600px) {

  body {
    margin: 0;
    padding: 0;
    background-color: #E4F7E1;
  }

  body > div {
  }

  .content {
    margin: 0;
    border: 0;
    border-radius: 0;
  }
}


@media screen and (min-width: 600px) {

  body {
    max-width: 800px;
    margin-top: 1em;
  }
}
